button{
   background-color: bisque;
   padding: 10px;
   border: none;
   border-radius: 5px;
}
button:hover{
    color: red;
}
h2{
    width: 300px;
}
h2:hover{
    border: 2px solid blue;
    width: 600px;
}
input{
    padding: 10px;
    width: 200px;
    color: black;
    border-radius: 5px;
}
input:focus-visible{
    background-color: aquamarine;
    border: 2px solid blueviolet;
}
.ancor{
 display: inline;
    list-style:none ;
}
nav a{
    text-decoration: none;
    margin: 30px;
    color:blueviolet;
}
/* list tag er css */
li:first-child{
    color: red;
}
li:last-child{
    color: blue;
}
li:nth-child(2n){
    color: rgb(0, 255, 0);
} 
.heading:hover{
    border-radius: 100px;
}
h1:hover{
    color: aqua;
    background-color: grey;
    border: 5px solid blue;
    /*width: 500px;*/
    border-radius: 5px;
}
h1::before{
    content:" Tahmida ";
}
h1::after{
    content: "3";
}
/* position.html er css */
.image{
    display: block;
    border: 1px dashed black;
    width: 300px;
}
.ring{
    position: relative;
    left: 0px;
    top: -140px;
    z-index: 1;
} 
.boy{
    position: relative;
    z-index:2;

}
.water{
    position: relative;
    top: -280px;
}
/* Overflow-html er css */
.heading-four{
    width: 600px;
    height: 200px;
    border: 5px solid hotpink;
    overflow: scroll;
    overflow-x: hidden;
}
h5{
    width: 100px;
    border: 5px solid rgb(0, 255, 0);
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    /*text-overflow: ellipsis;*/
}
/* transform-html er css */
.container{
    width: 500px;
    height: 300px;
    border: 2px solid rgb(255, 0, 119);
    background-color: antiquewhite;
    font-size: 40px;

}
.box{
    width: 500px;
    height: 250px;
    border: 2px solid red;
    background-color: aqua;
    transition: transform 5s ease-in-out,translate 3s;
    /*transition: transform 5s ease-in;{start hobe aste ar stop hobe jore}*/
    /*transition: transform 5s ease-in-out;*/

    
}
.box:hover{
    /*background-color: aquamarine;*/
    transform: scale(0.50) rotate(60deg); 
    translate: 100px 40px;
}
/* grid-css */
.grid-container{
    margin: 100px 0 100px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.grid-container h3{
    border: 2px solid blue;
    margin: 10px;
    padding: 10px;
}
.card{
    font-size: 20px;
    font-weight: 600;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-grid div{
    border: 2px solid black;
    border: none;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px 2px 12px greenyellow;
}

